<!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <%- partial ('partials/dashboardNavbar.ejs') %>
        <!-- End Top Navigation -->
        <%- partial ('partials/dashboardSidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Select An Action</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/admin/course">Course</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                      <div class="white-box analytics-info">
                          <h3 class="box-title">Create</h3>
                          <p>
                            Create a new record in the database.
                          </p>
                          <ul class="list-inline two-part">
                            <li></li>
                              <li class="text-right"><button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Create A New Course</button></li>
                          </ul>
                      </div>
                  </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Manage</h3>
                            <p>
                              View and Edit database records.
                            </p>
                            <ul class="list-inline two-part">
                                <li></li>
                                <li class="text-right"><button class="btn btn-danger" data-toggle="modal" data-target="#manageModal">View and Edit Course</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Asif. Sume. Shakil.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->
    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <form class="form" action="" method="get">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Create</h4>
            </div>
            <% if (department.length > 0) { %>
            <div class="modal-body">
              <div class="form-group">
                <label>Select Department</label>
                <select class="form-control form-control-line" name="department">
                  <% _.each(department, function (eachDepartment) { %>
                    <option value="<%= eachDepartment.id %>"><%= eachDepartment.name %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group">
                <label>Select Pre Course(s)</label>
                <div id="preCourseContainer">
                  <% if (department[0].course.length === 0) { %>
                    <p>No Courses in Database!</p>
                  <% } else { %>
                    <select class="form-control form-control-line" name="preCourse" multiple>
                    <% _.each(department[0].course, function (eachDepartmentCourse) { %>
                      <option value="<%= eachDepartmentCourse.id %>"><%= eachDepartmentCourse.name %></option>
                    <% }) %>
                    </select>
                  <% } %>
                </div>
              </div>
              <div class="form-group">
                  <label>Course Name</label>
                  <input name="name" type="text" placeholder="Eg. Math 101" class="form-control form-control-line">
              </div>
              <div class="form-group">
                  <label>Course Description</label>
                  <textarea name="description" rows="5" class="form-control form-control-line" placeholder="Eg. About Course"></textarea>
              </div>
              <div class="form-group">
                <label>Course Credit</label>
                <input name="credit" class="form-control form-control-line" type="number" step="0.01" value="0.00">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" name="create">Submit</button>
            </div>
            <% } else { %>
              <div class="modal-body">
                <a href="/admin/department">Create a Department First!</a>
              </div>
            <% } %>
          </div>
        </form>
      </div>
    </div>

    <!-- Manage Modal -->
    <div class="modal fade" id="manageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <form class="form" action="" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Manage</h4>
            </div>
            <% if (department.length > 0) { %>
            <div class="modal-body">
              <div class="form-group">
                <label>Select Department</label>
                <select class="form-control form-control-line" name="editCourseDepartment">
                  <% _.each(department, function (eachDepartment) { %>
                    <option value="<%= eachDepartment.id %>"><%= eachDepartment.name %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group">
                <label>Select Course to Edit</label>
                <div id="courseToEditContainer">
                  <% if (department[0].course.length === 0) { %>
                    <p>No Courses in Database!</p>
                  <% } else { %>
                    <select class="form-control form-control-line" name="editCourse">
                    <% _.each(department[0].course, function (eachDepartmentCourse) { %>
                      <option value="<%= eachDepartmentCourse.id %>"><%= eachDepartmentCourse.name %></option>
                    <% }) %>
                    </select>
                  <% } %>
                </div>
              </div>
              <div id="courseEditFieldsContainer">
                <% if (department[0].course.length !== 0) { %>
                  <div class="form-group">
                    <label>Select Pre Course(s)</label>
                    <select class="form-control form-control-line" name="editPreCourse" multiple>
                    <% _.each(department[0].course, function (eachDepartmentCourse) { %>
                      <option value="<%= eachDepartmentCourse.id %>"><%= eachDepartmentCourse.name %></option>
                    <% }) %>
                    </select>
                  </div>
                  <div class="form-group">
                      <label>Course Name</label>
                      <input name="editName" type="text" value="<%= department[0].course[0].name %>" class="form-control form-control-line">
                  </div>
                  <div class="form-group">
                      <label>Course Description</label>
                      <textarea name="editDescription" rows="5" class="form-control form-control-line"><%= department[0].course[0].description %></textarea>
                  </div>
                  <div class="form-group">
                    <label>Course Credit</label>
                    <input name="editCredit" class="form-control form-control-line" type="number" step="0.01" value="<%= department[0].course[0].credit %>">
                  </div>
                <% } %>
              </div>
              <div id="courseEditButtonContainer">
                <% if (department[0].course.length !== 0) { %>
                  <input type="submit" class="btn btn-primary" name="manage" value="Save Changes">
                  <input type="submit" class="btn btn-danger" name="manage" value="Delete">
                <% } %>
              </div>
            </div>
            <% } else { %>
              <div class="modal-body">
                <a href="/admin/department">Create a Department First!</a>
              </div>
            <% } %>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
          </div>
        </form>
      </div>
    </div>

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      $.get('/admin/getCourses',{
        courseId: $("[name=editCourse]").val()
      }, changePreCourse);
    });
    </script>
