<!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <%- partial ('partials/dashboardNavbar.ejs') %>
        <!-- End Top Navigation -->
        <%- partial ('partials/dashboardSidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Select An Action</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/admin/registration">Accept Registration</a></li>
                            <!-- <li class="active">Blank Page</li> -->
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                  <% _.each(requests, function(request) { %>
                    <div class="col-xs-12">
                        <div class="white-box analytics-info">
                          <% if(typeof request != 'undefined') { %>
                            <h3 class="box-title"><%= request.student.firstName %> <%= request.student.lastName %> (<span class="getDepartmentName"><%= request.student.department %></span>) (ID: <%= request.student.studentID %>)</h3>
                            <% _.each(request.details, function (course, key) { %>
                              <h4><b class="getSectionDetails"><%= key %></b></h4>
                              <% _.each(course, function (eachCourse) { %>
                                <h5 class="getCourseName"><%= eachCourse %></h5>
                              <% }) %>
                            <% }) %>
                            <ul class="list-inline two-part">
                              <li></li>
                                <li class="text-right">
                                  <button class="acceptRegistrationButton btn btn-primary" data-id="<%= request.id %>" type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                                  <button class="rejectRegistrationButton btn btn-danger" data-id="<%= request.id %>" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </li>
                            </ul>
                            <% } else { %>
                              <h3 class="box-title">No Requests</h3>
                            <% } %>
                        </div>
                    </div>
                  <% }); %>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Asif. Sume. Shakil.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      $(".getCourseName").map(function () {
        var _this = $(this);
        $.get('/admin/getCourses', {
          courseId: _this.html()
        }, function (data) {
          if (data.status === 'success') {
            _this.html(data.courses[0].name);
          }
        });
      });
      $(".getSectionDetails").map(function () {
        var _this = $(this);
        $.get('/admin/getSectionDetails', {
          sectionId: _this.html()
        }, function (data) {
          if (data.status === 'success') {
            _this.html('Intake ' + data.intakeName + ', Section ' + data.sectionName);
          }
        });
      });
      $(".getDepartmentName").map(function () {
        var _this = $(this);
        $.get('/admin/getSingleDepartment', {
          id: _this.html()
        }, function (data) {
          if (data.status === 'success') {
            _this.html(data.response.name);
          }
        });
      });
    });
    </script>
