<!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <%- partial ('partials/dashboardNavbar.ejs') %>
        <!-- End Top Navigation -->
        <%- partial ('partials/dashboardSidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Select An Action</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/admin/routine">Semester</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                  <div class="col-xs-12">
                      <div class="white-box analytics-info">
                          <h3 class="box-title">Start a Semester</h3>
                          <p>
                            Create a new semester.
                          </p>
                          <ul class="list-inline two-part">
                            <li></li>
                              <li class="text-right"><button id="startNewSemesterButton" class="btn btn-primary">Start A New Semester</button></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <div class="white-box analytics-info">
                          <h3 class="box-title">New Semester Form</h3>
                          <form class="form" action="" method="post">
                            <div class="form-group">
                              <label>Month Range</label>
                              <input type="text" class="form-control form-control-line" name="monthRange" required placeholder="Eg. January to April">
                            </div>
                            <% _.each(data, function(department) { %>
                              <h4><b><%= department.name %></b></h4>

                              <% _.each(department.intake, function(intake) { %>
                                <h4>Intake: <%= intake.name %></h4>

                                <% _.each(intake.section, function(section) { %>
                                  <h5><b>Routine for <%= section.name %></b></h5>
                                  <% for (var i = 0; i < days.length; i++) { %>
                                  <p><b><%= days[i] %></b></p>
                                  <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                          <th>Course</th>
                                          <th>StartTime</th>
                                          <th>EndTime</th>
                                        </tr>
                                        <!-- <tr>
                                          <td>
                                            <select class="selectCourses form-control form-control-line" name="department<%= department.id %>Intake<%= intake.id %>Section<%= section.id %>Routine<%= days[i] %>Row1Course">

                                            </select>
                                          </td>
                                          <td>
                                            <input class="form-control form-control-line" type="text" name="department<%= department.id %>Intake<%= intake.id %>Section<%= section.id %>Routine<%= days[i] %>Row1Start" placeholder="Click to Select">
                                          </td>
                                          <td>
                                            <input class="form-control form-control-line" type="text" name="department<%= department.id %>Intake<%= intake.id %>Section<%= section.id %>Routine<%= days[i] %>Row1End" placeholder="Click to Select">
                                          </td>
                                        </tr> -->
                                    </table>
                                  </div>
                                  <div class="form-group">
                                    <button type="button" class="btn btn-info addRow" data-name="department<%= department.id %>Intake<%= intake.id %>Section<%= section.id %>Routine<%= days[i] %>">Add Row
                                      <input type="hidden" name="department<%= department.id %>Intake<%= intake.id %>Section<%= section.id %>Routine<%= days[i] %>RowCounter" value="0">
                                    </button>
                                  </div>
                                  <% } %>
                                <% }) %>
                              <% }) %>
                            <% }) %>
                            <div class="form-group">
                              <input class="btn btn-primary btn-lg" type="submit" name="create" value="Submit">
                            </div>
                          </form>
                      </div>
                  </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Asif. Sume. Shakil.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->
    <!-- <script type="text/javascript">
    // document.addEventListener("DOMContentLoaded", function(event) {
    //   $.get('/admin/getCourses', {}, function (data) {
    //     if (data.status === 'success') {
    //       var dataToWrite = "";
    //       for (var i = 0; i < data.courses.length; i++) {
    //         dataToWrite += '<option value="' + data.courses[i].id + '>' + data.courses[i].name + '</option>'
    //       }
    //       $(".selectCourses").html(dataToWrite);
    //     }
    //   });
    // });
    </script> -->
