<!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <%- partial ('partials/dashboardNavbar.ejs') %>
        <!-- End Top Navigation -->
        <%- partial ('partials/dashboardSidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Welcome, <%= req.session.student.firstName %> <%= req.session.student.lastName %></h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/student/view">View</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                  <% if (availableSemester) { %>
                  <div class="col-sm-6 col-xs-12">
                      <div class="white-box analytics-info">
                          <h3 class="box-title">Register Courses for <%= semesterName %></h3>
                          <p>
                            Select subjects to take for Semester Number <%= semesterNumber + 1 %>.
                          </p>
                          <form id="registerCourses" class="form form-material" action="/student/pending" method="post">
                            <% _.each(routine, function (section) { %>
                              <div class="form-group">
                                <label>Section <%= section['Section'] %></label>
                                <select class="form-control form-control-line selectCoursesForRegistration" name="courses<%= section['Section'] %>" multiple>

                                </select>
                              </div>
                              <input type="hidden" name="section" value="<%= section['Section'] %>">
                            <% }) %>
                            <ul class="list-inline two-part">
                              <li></li>
                                <li class="text-right"><input type="submit" class="btn btn-primary" name="create" value="Register"></li>
                            </ul>
                          </form>
                      </div>
                  </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Routine</h3>
                            <% _.each(routine, function (section) { %>
                              <h4>
                                Section <%= section['Section'] %>
                              </h4>
                              <div class="table-responsive">
                                <table class="table">
                                  <tr>
                                    <th>Day</th>
                                    <th>Course</th>
                                    <th>Time</th>
                                  </tr>
                                  <% _.each(days, function (dayName) { %>
                                    <% _.each(section[dayName][0], function (day, index) { %>
                                      <tr>
                                        <td><%= index === 0 ? dayName : '' %></td>
                                        <td class="getCourseName"><%= day.courseId %></td>
                                        <td><%= day.start %> - <%= day.end %></td>
                                      </tr>
                                    <% }) %>
                                  <% }) %>
                                </table>
                              </div>
                            <% }) %>
                        </div>
                    </div>
                  <% } else { %>
                    <div class="col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">No New Semesters</h3>
                            <p>
                              Please check back later. No new semesters.
                            </p>
                        </div>
                    </div>
                  <% } %>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Asif. Sume. Shakil.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      $(".getCourseName").map(function () {
      	var _this = $(this);
        $.get('/student/getCourseName', {
          courseId: _this.html()
        }, function (data) {
          if (data.status === 'success') {
            _this.html(data.courses[0].name);
          }
        });
      });
      $.get('/student/getCourseName', {
        departmentId: <%= req.session.student.department %>,
        studentID: <%= req.session.student.id %>
      }, function (data) {
        if (data.status === 'success') {
          var dataToWrite = "";
          if (typeof data.completed != 'undefined') {
            for (var i = 0; i < data.completed.length; i++) {
              dataToWrite += '<option disabled>' + data.completed[i].name + ' (Completed)</option>';
            }
          }
          for (var i = 0; i < data.courses.length; i++) {
            dataToWrite += '<option value="' + data.courses[i].id + '">' + data.courses[i].name + ' (Credit: ' + data.courses[i].credit + ')' + '</option>';
          }
          $(".selectCoursesForRegistration").html(dataToWrite);
        }
      });
    });
    </script>
